//CSS STYLE
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  text-align: center;
}

td {
  text-align: center;
  padding: 8px;
}

.url {
  background-color: #ea168e;
}

a {
  color: #fff;
  text-decoration: none;
}
