<div class="container">
  <div class="wrapper">
    <img [src]="userData.avatar_url" />
    <h2>Name: {{ userData.name }}</h2>
  </div>

  <div class="data">
    <p *ngIf="userData.company !== null">Company: {{ userData.company }}</p>
    <p *ngIf="userData.location !== null">Location: {{ userData.location }}</p>
    <p>Member since: {{ userData.created_at }}</p>
    <p>Number Followings: {{ userData.following }}</p>
    <p>Nummber Repositories: {{ userData.number_repositories }}</p>
    <div class="button">
      <a *ngIf="userData.blog !== ''" [href]="userData.blog"
        >Visit Personal Website</a
      >
      <a [href]="userData.html_url">Visit Github Profile</a>
    </div>
  </div>
</div>

<div class="results">
  <app-user-repos [userRepos]="userData.repositories"></app-user-repos>
  <app-user-followers
    *ngIf="!(userData.followers.length === 0)"
    [userFollowers]="userData.followers"
  ></app-user-followers>
</div>
