//CSS GRID
h1 {
  grid-area: title;
}

form {
  grid-area: form;
}

.loader {
  grid-area: loader;
}

.display-data {
  grid-area: userData;
}

.wrapper {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas:
    ". title ."
    ". form ."
    ". loader ."
    ". userData ."
}

.display-data {
  margin-top: 40px;
}

//CSS STYLE
h1 {
  justify-self: center;
}

form {
  justify-self: center;
}

button {
  background-color: #ea168e;
  color: #fff;
  margin-left: 6px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.loader {
  justify-self: center;
}

.display-data {
  justify-self: center;
}

.alert {
  padding: 10px;
  margin-top: 10px;
  background-color: #ea168e;
  color: #fff;
  text-align: center;
}

//CSS FOR LOADER
@keyframes lds-bars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lds-bars {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.lds-bars {
  position: relative;
}
.lds-bars div {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 60px;
  -webkit-animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-bars div:nth-child(1) {
  left: 30px;
  background: #eef2f5;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-bars div:nth-child(2) {
  left: 70px;
  background: #ea168e;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-bars div:nth-child(3) {
  left: 110px;
  background: #612570;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-bars div:nth-child(4) {
  left: 150px;
  background: #1eafed;
}
.lds-bars {
  width: 190px !important;
  height: 190px !important;
  -webkit-transform: translate(-95px, -95px) scale(0.95) translate(95px, 95px);
  transform: translate(-95px, -95px) scale(0.95) translate(95px, 95px);
}