<div class="wrapper">
  <h1>GITHUB PROFILE</h1>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="username">User Name: </label>
      <input
        formControlName="username"
        id="username"
        type="text"
        class="form-control"
      />
      <button [disabled]="form.invalid" (click)="getUserId()">Search</button>
      <div class="alert" *ngIf="username.touched && username.invalid">
        <div *ngIf="username['errors'].required">Name required</div>
      </div>
    </div>
  </form>

  <div *ngIf="showed" class="loader lds-css ng-scope">
    <div style="width:100%;height:100%" class="lds-bars">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="display-data">
    <app-display-data *ngIf="hasData" [userData]="userData"></app-display-data>
  </div>
</div>
